body {
}

.booking-mid-section {
    height: 400px;
}

.booking-mid-section-half {
    float: left;
    width: 50%;
    padding-left: 40px;
}

.booking-button-wrapper {
    border-style: ridge;
    border-width: 3px;
}

.booking-spot-button {
    width: 60px;
    height: 60px;
    background-color: aliceblue;
    border-width: 3px;
    border: 3px solid lightblue;
}

.map {
    width: 600px;
    height: 800px;
}

.booking-selection-mid-section-half {
    float: left;
    width: 50%;
    padding-left: 40px;
}

.booking-spot-selection {
    height: 1000px;
}

.booking-radio-buttons {
}

/*.booking-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}*/

.asp-checkbox {
    height: 100%;
}

    .asp-checkbox input {
        position: absolute;
        height: 80%;
        width: 40px;
        top: 3px;
        left: 3px;
    }

    .asp-checkbox label {
        padding-left: 10px;
        text-align: center;
        padding-top: 11px;
    }

.booking-row-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    width: 450px;
    height: 57px;
    border-style: ridge;
    background-color: rgb(87 175 242);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.booking-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}*/

.main-calendar {
    margin: auto;
}

.booking-radio-checkbox {
    height: 80%;
    width: 40px;
}

/* Create a custom checkbox */
.booking-radio-checkmark {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 80%;
    width: 40px;
    background-color: #eee;
    border-style: ridge;
}

.booking-radio-img {
    float: right;
    max-width: 100px;
    max-height: 100%;
}

.confirm-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-hover:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.order-summary-table {
    border: 2px solid red;
}

.spot-type-selection-row {
    width: 800px;
    height: 200px;
    margin-left: 65px;
    border: 3px solid gray;
    background-color: aliceblue;
}

.selection-image-div {
    width: 30%;
    float: right;
    height: 100%;
    transform: translateY(-163px);
}

.type-selection-button {
    height: 210px;
    width: 80px;
    margin-top: 30px;
}

.calendar-main th {
   transform: translate(37px);
}

.selection-row-container {
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

.selection-row-button {
    height: 100%;
    width: 50px;
    display: inline-flex;

}

.selection-button-container {
    height: 100%;
    width: 50px;
    display: inline-block;
}

.selection-row-body {
    height: 100%;
    border: 3px solid gray;
    width: 40%;
    display: inline-block;
    margin-left: 30%;
    background-color: aliceblue;
    transition-duration: 0.4s;

}

.selection-row-body:hover  {
    background-color: blue;
    cursor: pointer;
}

.selection-row-description {
    width: 400px;
    display: inline-block;
}

.selection-row-button {
   height: 50px;
   width: 50px;
}

.slot-selection-buttons-container {
    width: 80%;
    height: 700px;
}

.booking-members-container {
    margin-top: 400px;
    width: 320px;
}

.booking-members-tbox {
    width: 20px;
    margin-top: 6px;
}

.booking-members-button {
    margin-top:6px; 
    width: 30px;
    height: 30px;
}